body
{
    color: rgb(0, 0, 0);
    background: rgb(234, 154, 234);
}

.heading
{
    width: 80%;
    font-size: 22px;
}

#camera
{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

.name_of_persons , #result_person_name , #result_person_accuracy
{
    color: yellow;
    font-size: medium;
}